body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:930px;
  background:inherit;
  background-color:rgba(65, 85, 93, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:930px;
}
#u2463 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:457px;
  width:1616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1488px;
  height:885px;
  background:inherit;
  background-color:rgba(8, 48, 74, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2464 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:30px;
  width:1488px;
  height:885px;
}
#u2465 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:434px;
  width:1484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:30px;
  background:inherit;
  background-color:rgba(65, 85, 93, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:30px;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:1616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.749019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:43px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2470 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:5px;
  width:162px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u2472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2472 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:5px;
  width:167px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u2474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2474 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:5px;
  width:139px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u2476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#FFFFFF;
}
#u2476 {
  border-width:0px;
  position:absolute;
  left:1545px;
  top:5px;
  width:71px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#FFFFFF;
}
#u2477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2478 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:40px;
  width:30px;
  height:30px;
}
#u2479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2480 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:75px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:2px;
}
#u2482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:65px;
  height:1px;
}
#u2483 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2484 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:120px;
  width:30px;
  height:30px;
}
#u2485 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2486 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:155px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:2px;
}
#u2488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:65px;
  height:1px;
}
#u2489 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2490 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:200px;
  width:30px;
  height:30px;
}
#u2491 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2492 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:235px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:2px;
}
#u2494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:65px;
  height:1px;
}
#u2495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2496 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:50px;
  width:380px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:376px;
  word-wrap:break-word;
}
#u2498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u2498 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:50px;
  width:1px;
  height:30px;
}
#u2499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2500 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:53px;
  width:25px;
  height:25px;
}
#u2501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:2px;
}
#u2502 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:100px;
  width:516px;
  height:1px;
}
#u2503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:65px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:65px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:65px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2507 {
  position:absolute;
  left:80px;
  top:152px;
  visibility:hidden;
}
#u2507_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:15px;
  height:176px;
  background-image:none;
}
#u2507_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2509 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2508_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:15px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2511 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2510_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:15px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2513 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2512_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2514 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:15px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2515 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2514_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2516 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:15px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2517 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2516_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2518 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:110px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2520 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:110px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2522 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:110px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2523 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:30px;
  background:inherit;
  background-color:rgba(117, 138, 153, 0.498039215686275);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2524 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:145px;
  width:516px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2525 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2526 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:150px;
  width:141px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2528 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:150px;
  width:141px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:30px;
  background:inherit;
  background-color:rgba(65, 85, 93, 0.498039215686275);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2530 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:185px;
  width:516px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2531 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2532 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:190px;
  width:66px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2534 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:190px;
  width:141px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:30px;
  background:inherit;
  background-color:rgba(117, 138, 153, 0.498039215686275);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2536 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:225px;
  width:516px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2537 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2538 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:230px;
  width:66px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2540 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:230px;
  width:141px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:30px;
  background:inherit;
  background-color:rgba(65, 85, 93, 0.498039215686275);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2542 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:265px;
  width:516px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2543 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2544 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:270px;
  width:68px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2545 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u2546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2546 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:270px;
  width:141px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:30px;
  background:inherit;
  background-color:rgba(117, 138, 153, 0.498039215686275);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2548 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:305px;
  width:516px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2549 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2550 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:310px;
  width:65px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2552 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:310px;
  width:141px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2554 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:110px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2556 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:150px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2558 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:190px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2560 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:230px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2562 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:270px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2564 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:310px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2566 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:150px;
  width:111px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2567 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u2568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2568 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:190px;
  width:111px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2569 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u2570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2570 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:230px;
  width:111px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u2572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2572 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:270px;
  width:111px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u2574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2574 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:310px;
  width:111px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u2576 {
  position:absolute;
  left:80px;
  top:152px;
}
#u2576_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:15px;
  height:176px;
  background-image:none;
}
#u2576_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2578 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2577_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:15px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2580 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2579_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:15px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2582 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2581_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:15px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2584 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2583_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:15px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2586 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2585_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:886px;
}
#u2587 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:30px;
  width:1px;
  height:885px;
}
#u2588 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:434px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2589 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:875px;
  width:50px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u2591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2591 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:875px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2592 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u2593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2593 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:875px;
  width:50px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2594 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u2595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:300px;
}
#u2595 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:251px;
  width:400px;
  height:300px;
}
#u2596 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:150px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2597 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:76px;
  width:400px;
  height:150px;
  color:#666666;
}
#u2598 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:59px;
  width:396px;
  word-wrap:break-word;
}
#u2599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:150px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2599 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:76px;
  width:400px;
  height:150px;
  color:#666666;
}
#u2600 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:59px;
  width:396px;
  word-wrap:break-word;
}
#u2601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:301px;
}
#u2601 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:251px;
  width:400px;
  height:300px;
  color:#666666;
}
#u2602 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:134px;
  width:396px;
  word-wrap:break-word;
}
#u2603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:300px;
}
#u2603 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:251px;
  width:400px;
  height:300px;
}
#u2604 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:301px;
}
#u2605 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:251px;
  width:400px;
  height:300px;
  color:#666666;
}
#u2606 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:134px;
  width:396px;
  word-wrap:break-word;
}
#u2607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:300px;
}
#u2607 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:570px;
  width:400px;
  height:300px;
}
#u2608 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:301px;
}
#u2609 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:570px;
  width:400px;
  height:300px;
  color:#666666;
}
#u2610 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:134px;
  width:396px;
  word-wrap:break-word;
}
#u2611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:300px;
}
#u2611 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:570px;
  width:400px;
  height:300px;
}
#u2612 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:301px;
}
#u2613 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:570px;
  width:400px;
  height:300px;
  color:#666666;
}
#u2614 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:134px;
  width:396px;
  word-wrap:break-word;
}
