.container-center .banner-left .inverted .open {
    top: 68rem;
}

.container-center .banner-left .inverted .search {
    margin-bottom: -220px!important;
}

/* marker提示框 start */

.pop-content h4 {
    margin: 0 0 5px 0;
    padding: 8px 12px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.infoBox .pop-content .pop-content-box {
    padding: 0;
}

.infoBox .pop-content .pop-content-box .pop-content-list {
    border-bottom: 1px solid rgba(255, 255, 255, 0.29);
    height: 39px;
    line-height: 40px;
    padding: 0;
    margin:0 20px;

}

.pop-content-list span {
    color: #fff;
}

.infoBox .pop-content .pop-content-box .pop-content-list .pop-name {
    text-align: right;
}

.infoBox .pop-content .pop-content-box .pop-content-list .pop-value {
    padding-left: 12px;
}

.infoBox .pop-content .pop-content-box .pop-content-list span:nth-child(1) {
    width: 78px;
    display: inline-block;
}

.infoBox .pop-content .pop-content-box .pop-line {
    padding-left: 12px;
}

.pop-content-btn-box {
    text-align: center;
}

.infoBox .pop-content button {
    width: 86px;
    height: 28px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(0, 255, 247);
    color: #fff;
    margin: 16px 30px 16px 0;
}

/* marker提示框 end */


/* 去除弹框多余样式  start*/

.fm-control-popmarker {
    background: rgba(18, 65, 153, 0.9)!important;
    border: 0!important;
    padding: 0!important;
    border-radius: 0!important;    
}

.fm-control-popmarker input {
    display: none!important;
}

.fm-control-popmarker-bot,
.fm-control-popmarker-top {
    display: none!important;
}

/* 去除弹框多余样式  end*/

/* 弹框的关闭按钮 start */

.fm-control-popmarker .infoBox {
    max-height: 200px;
}

.infoBox img {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}


/* 弹框的关闭按钮 start */

.container-map .label-ctrl-btn {
    position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.298039) 2px 2px 3px;
    right: 105px;
    top: 60px;
    width: 42px;
    height: 42px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.ui.message table tbody tr .video {
    cursor: pointer;
}


/* 弹框中的监控视频列表 start */

table {
    border-collapse: collapse;
}


/* 打开/关闭 按钮弹框的总宽 */

.video-list {
    width: 1008px;
    height: 270px;
    overflow: hidden;
    margin-left: 95px;
    position: absolute;
    bottom: 20px;
    background: rgba(18, 65, 153, 0.9);
    cursor: pointer;
}

.video-list .video-list-table-box .ui.dropdown {
    width: 70px;
    min-width: 70px;
    min-height: 30px;
    padding: 8px;
}


/* 监控视频列表总宽 */

.ui.grid.video-box {
    width: 366px;
}


/* 打开/关闭 按钮弹框的关闭按钮 */

.video-list-right-close {
    position: absolute;
    right: 14px;
    top: 10px;
    z-index: 99;
}


/* 打开/关闭按钮 弹框中的 左表格 start */

.video-list-table-box {
    width: 298px;
    height: 238px;
    margin-top: 16px;
    float: left;
    margin-right: 10px;
}

.video-list-search-input {
    width: 200px;
    height: 30px;
}

.video-list-table-box .video-list-title .video-list-title-left,
.video-list-table-box .video-list-title .video-list-title-right {
    color: #fff;
}

.video-list-title-right {
    margin-left: 10px;
}

.video-list-title {
    padding: 0 0 0 10px;
    display: inline;
}

.video-list-title-left select.ui.dropdown {
    width: 80px;
    height: 30px;
    padding: 0;
    border-radius: 4px;
}

/* 搜索框下面的表格  */

.video-table-box {
    height: 195px;
    margin: 10px 0 10px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 10px;
    border: 1px solid #929398;
    border-radius: 4px;
}

.video-table thead tr th {
    color: rgb(0, 255, 247);
    border-bottom: 1px solid rgb(0, 255, 247);
    padding-bottom: 10px;
    text-align: left;
    padding-top: 10px;
}

.video-table tr td {
    height: 35px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.29);
}

/* 打开/关闭按钮 弹框中的 左表格 end */


/* 监控视频最外层的样式 */

.ui.grid.video-box.padded.grid:not(.vertically):not(.horizontally) {
    margin-top: 16px!important;
    margin-left: 625px!important;
}


/* 一个监控视频 */

.ui.grid.video-box>.column:not(.row),
.ui.grid.video-box>.row>.column {
    width: 170px;
    height: 119px;
    margin: 0 1px 1px 0;
    padding: 0;
    background-color: rgb(62, 101, 171);
}

.ui.grid.video-box>.row>.column video {
    width: 160px;
    height: 109px;
    margin-top: -5px;
    background-color: rgb(62, 101, 171);
}


/* 放一个监控视频的容器 */

.ui.grid.video-box>.column:not(.row),
.ui.grid.video-box>.row>.column div {
    width: 160px;
    height: 109px;
    background-color: transparent;
    margin: 5px;
}


/* 去除默认样式 */

.ui.grid.video-box>.row {
    padding: 0;
}


/* 视频单独块的最外层样式 */

.video-box-model-case {
    float: left;
    padding: 10px;
    background-color: rgb(62, 101, 171);
    margin-top: 16px;
}

/* 视频单独块的可放视频的容器 */

.video-box-model {
    width: 296px;
    height: 219px;
    /* background: pink; */
}

.video-box-model video {
    width: 296px;
    height: 233px;
    margin-top: -23px;
}

/* 视频弹出框 end */

/* 点击查看，弹出短视频 start*/

.video-view-box {
    position: absolute;
    height: 260px;
    width: 300px;
    left: 95px;
    bottom:20px;
    display: none;
}

.video-view-box .icon {
    color: #fff;
}

.video-view-box-btn {
    position: absolute;
    right: 10px;
    top: 5px;
}

.video-view-title {
    padding-left: 10px;
    height: 26px;
    line-height: 26px;
    background-color: rgb(19, 40, 81);
    color: #fff;
}

.video-view-content {
    height: 230px;
    background-color: #2853a2;
}
/* 点击查看，弹出短视频 end */