#rightBanner .side-tools {
    width: 240px;
    position: absolute;
    right: 85px;
    height: 70px;
    /* background: rgba(18, 65, 153, 0.9); */
    top: 44px;
    margin: 0;
    z-index: 1000;
}

.ui.message table tbody tr u {
    cursor: pointer;
}

/* #rightBanner .side-tools.hide {
    display: none;
}

#rightBanner .side-tools.visible {
    display: block;
} */

#rightBanner .side-tools.ui.labeled.icon.menu {
    border: none;
    background: transparent;
    box-shadow: none;
}

#rightBanner .side-tools.ui.labeled.icon.menu .item {
    width: 70px;
    min-width: 70px;
    height: 70px;
    padding: 0 4px 0px;
    margin: 0 10px 0 0;
    background-color: rgba(18, 65, 153, 0.9);
}

#rightBanner .side-tools.ui.labeled.icon.menu .item .segment {
    color: #fff;
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    padding: 12px 2px;
    margin: 0;
}

#rightBanner .side-tools.ui.labeled.icon.menu .item .segment:hover,
#rightBanner .side-tools.ui.labeled.icon.menu .item .segment.active {
    background-color: rgba(255, 255, 255, .08);
}

#rightBanner .side-tools.ui.labeled.icon.menu .item .segment i {
    font-size: 22px;
    margin-bottom: 8px;
}

/**********************去掉百度地图logo*****************************/

.anchorBL {
    display: none;
}

.anchorBL img {
    width: 0;
    height: 0;
}

.BMap_cpyCtrl.BMap_noprint.anchorBL,
.maplibTcBtn_deskTop.maplibTcBtnOff_deskTop.BMap_noprint.anchorTR {
    display: none;
}

/* marker提示框 start */

.infoBox .pop-content {
    /* min-height: 350px; */
}

.pop-content h4 {
    margin: 0 0 5px 0;
    padding: 8px 12px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
}

.infoBox .pop-content .pop-content-box {
    padding: 0 20px;
}

.infoBox .pop-content .pop-content-box .pop-content-list {
    border-bottom: 1px solid rgba(255, 255, 255, 0.29);
    height: 39px;
    line-height: 40px;
    padding: 0;
}

.infoBox .pop-content img {
    display: block;
    width:256px;
    margin: 10px 0;
}

.infoBox .pop-content .pop-content-box .pop-content-list .pop-name {
    text-align: right;
}

.infoBox .pop-content .pop-content-box .pop-content-list .pop-value {
    padding-left: 12px;
}

.infoBox .pop-content .pop-content-box .pop-content-list span:nth-child(1){
    width: 78px;
    display: inline-block;
}

.infoBox .pop-content .pop-content-box .pop-line {
    padding-left: 12px;
}

.pop-content-btn-box {
    text-align: center;
}

.infoBox .pop-content button {
    width: 86px;
    height: 28px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(0, 255, 247);
    color: #fff;
    margin: 16px 30px 16px 0;
}
/* marker提示框 end */

.goverments-width{
    width: 220px;
}